<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KoFFPanel.Presentation.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KoFFPanel.Presentation.Settings>
            <setting name="BotIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="BotPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="BotApiSecret" serializeAs="String">
                <value />
            </setting>
        </KoFFPanel.Presentation.Settings>
    </userSettings>
</configuration>